.Nav-logo {
    height: 8vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Nav-logo {
        animation: Nav-logo-spin infinite 20s linear;
    }
}

@keyframes Nav-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}